<!DOCTYPE html>
<html>
<head>
  <title>News Letter</title>
  <style>
    table {
      border: 3px solid black;
      border-collapse: collapse;
    }
    td {
      padding: 50px;
    }
  </style>
</head>
<body>
  <table class="main" bgcolor="purple">
    <tr>
      <td>
        <table class="lside" bgcolor="white">
          <tr>
            &nbsp;
          </tr>
        </table>
      </td>
      <td>
        <table class="middle" bgcolor="white">
          <tr><td>
            <img src= {{image_src|raw}}, alt="Image" />
          </td></tr>
        </table>
      </td>
      <td>
        <table class="rside" bgcolor="white">
          <tr>
            &nbsp;
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
