<!DOCTYPE html>
<html>
<head>
  <title>News Letter</title>
  <style>
    html, body {
      height: 100%;
    }
    .main {
      background-color: purple;
      width: 100%;
      height: 100%;
    }
    .lside {
      width: 35%;
      height: 100%;
    }
    .middle {
      width: 30%;
      height: 75%;
    }

    .inner_middle {
      background-color: white;
      width: 100%;
      height: 75%;
    }

    .footer {
      width: 100%;
      height: 25%;
    }

    .rside {
      /*table-layout: fixed;*/
      width: 35%;
      height: 100%;
    }
    .bttn {
      background-color: gray;
      font-size: 24px;
    }
  </style>
</head>
<body>
  <div class="main">
  <table>
    <tr>
      <td class="lside">
        <table>
          <tr>
            <td>
              <!--LEFT SIDE-->
            </td>
          </tr>
        </table>
      </td>
      <td class="middle">
        <table>
          <tr>
            <td class="inner_middle">
              <table>
                <tr>
                  <td>
                    <img src="{{image_src}}" alt="News Letter">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="inner_middle">
              <table>
                <tr>
                  <td>
                    <button class="bttn" type="button"> Download Document </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      Office of the Dean
                      Division of Science
                      160 Convent Avenue, Marshak 1320 New York, NY 10031
                      P: (212) 650-6850 | cgonzalez@ccny.cuny.edu
                      ccny.cuny.edu/science
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
      <td class="rside">
        <table>
          <tr>
            <td>
            <!--RIGHT SIDE-->
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
